
<h4>R2.0 -- Release Notes on 1/29/2018</h4>
<ul>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13721" target="_blank">13721</a> -- RWB: View & Attach Documents Enhancements - RWB
        <ul>
            <li>
                2. Document Classification - Setting of the XLeRate contract key  in RWB.
            </li>
                <li>
                3. Document Repository - Document Classification.
            </li>
        </ul>
    </li>
    <li>
        Issues fixed for the work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13888" target="_blank">13888</a> -- QC Defect ID 167 - Column headers Freeze for Portfolio View & Search Grid
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/DefaultCollection/XL.UWIntegration/_workitems#_a=edit&id=13677" target="_blank">13677</a> -- RWB: Place holder for Release 1.0 RWB Open Defects - Low Severity - RWB
        <ul>
            <li>
                1. QC Defect ID 119 - Version status Text case is not matching per XleRate.
            </li>
            <li>
                2. QC Defect ID 86 - Error/Message display format is not per the requirements.
            </li>
        </ul>
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/DefaultCollection/XL.UWIntegration/_workitems#_a=edit&id=13786" target="_blank">13786</a> -- RWB: Place holder for Release 1.0, 1.1 RWB Open Defects - Medium Severity - RWB
        <ul>
            <li>
                1. QC Defect ID 100 - Upload button not visible when trying to upload multiple documents at a time.
            </li>
        </ul>
    </li>
</ul>
<h4>R2.0 -- Release Notes on 1/19/2018</h4>
<ul>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13721" target="_blank">13721</a> -- RWB: View & Attach Documents Enhancements - RWB
        <ul>
            <li>
                1. Document Repository - Freeze headers & Column sorting.
            </li>
        </ul>
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13802" target="_blank">13802</a> -- RWB: Portfolio View and Search Enhancements – Outstanding
        <ul>
            <li>
                3. Change Request # 22 - Add  ‘Expiry Date ‘ to Search Results grid & Portfolio View
            </li>
        </ul>
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13720" target="_blank">13720</a> -- RWB: Portfolio View and Search Enhancements
        <ul>
            <li>
                1. UAT Enhancement - Program Details in New Tab or Right click with new window.
            </li>
            <li>
                2. UAT Enhancement - Sharing Program Details via Email.
            </li>
        </ul>
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13825" target="_blank">13825</a> -- RWB: Browser 'back' button must retain search results
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13803" target="_blank">13803</a> -- RWB: New Submission Enhancements
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13888" target="_blank">13888</a> -- QC Defect ID 167 - Column headers Freeze for Portfolio View & Search Grid
    </li>
    <li>
        work Item <a href="http://stadb1478:8080/web/wi.aspx?pcguid=0bd7d57f-cc42-442e-b7f9-65591bb4a0e7&id=13787" target="_blank">13787</a> -- RWB: QC Defect ID 94 - Unable to attach documents using Drop new file option from WB for new programs created from legacy application(We have two items to fix)
    </li>
</ul>