<div style="background-color: #EEEEEE; margin-right: 20px; padding: 10px; font-size:smaller; width:100%;">

  <div class="row" style="margin-left: 2px;">
    <label class="textieldLabel">Street: </label>
    <span style="font-weight:bold; margin-left:5px;">{{location.street1}}</span>
  </div>

  <div class="row" style="margin-left: 2px;">
    <label class="textieldLabel">Country: </label>
    <span style="font-weight:bold; margin-left:5px;">{{location.country}}</span>
  </div>

  <!--<div class="row" style="margin-left: 2px;">
    <label class="textieldLabel">Name</label>
    <span>{{location.description}}</span>
  </div>
  <div class="row" style="margin-left: 2px;">
    <label class="textieldLabel">Street 1</label>
    <span>{{location.street1}}</span>
  </div>
  <div class="row" style="margin-left: 2px;">
    <label class="textieldLabel">Street 2</label>
    <span>{{location.street2}}</span>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-lg-3">
      <label class="textieldLabel">City</label>
      <span>{{location.city}}</span>
    </div>
    <div class="form-group  col-md-3 col-lg-3">
      <label class="textieldLabel">Zip2</label>
      <span>{{location.zipCd}}</span>
    </div>
    <div class="form-group  col-md-3 col-lg-3">
      <label class="textieldLabel">State</label>
      <span>{{location.state}}</span>
    </div>
    <div class="form-group  col-md-3 col-lg-3">
      <label class="textieldLabel">Country</label>
      <span>{{location.country}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-lg-3">
      <label class="textieldLabel">DUNS</label>
      <span>{{location.dunsCompanyNum}}</span>
    </div>
    <div class="form-group col-md-3 col-lg-3">
      <label class="textieldLabel">Address Type</label>
      <span>{{location.addressTypeGuid}}</span>
    </div>
    <div class="form-group col-md-3 col-lg-3">
      <label class="textieldLabel">Phone</label>
      <span>{{location.telNum}}</span>
    </div>
    <div class="form-group col-md-3 col-lg-3">
      <label class="textieldLabel">Fax</label>
      <span>{{location.faxNum}}</span>
    </div>
  </div>-->
</div>
